### IAR Embedded Workbench ##

# Workspace
SAME70-XPLD/Workspace/

# Project settings
SAME70-XPLD/adc_buffer/settings/

# Project settings for C-SPY
*.ewd

# Project settings for C-STAT and C-RUN
*.ewt

# Dependency information
*.dep

# Debug and Release files
SAME70-XPLD/adc_buffer/Debug/
SAME70-XPLD/adc_buffer/Release/